* {
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    margin: 0;
    padding: 0
}

html {
    font-size: 20px;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased
}

@media only screen and (min-width:400px) {
    html {
        font-size: 21.33px!important
    }
}

@media only screen and (min-width:414px) {
    html {
        font-size: 22.08px!important
    }
}

@media only screen and (min-width:480px) {
    html {
        font-size: 25.6px!important
    }
}

body {
    font-family: Arial,'Microsoft YaHei',sans-seri;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    word-break: break-word;
    background-color: #eaedf2
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {
    display: block
}

b,i {
    font-weight: 400;
    font-style: normal
}

a {
    text-decoration: none
}

img {
    vertical-align: middle;
    border: 0
}

ol,ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

button,input,select,textarea {
    border: 0;
    background: 0 0
}

button,input,input[type=button],input[type=reset],input[type=submit],select,textarea {
    -webkit-appearance: none;
    outline: 0
}

textarea {
    resize: none
}

input:disabled {
    opacity: .9
}

button:active,input[type=button]:active {
    opacity: .8
}

.fl {
    float: left
}

.fr {
    float: right
}

.none {
    display: none
}

.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both
}

.scroll-touch {
    -webkit-overflow-scrolling: touch
}

.scroll-touch::-webkit-scrollbar {
    display: none
}[v-cloak] {
     display: none
 }

.author {
    padding: .5rem 1rem .5rem .75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.author-left {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-right: 1rem;
    height: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.author-right {
    width: 2.55rem
}

.author-right img {
    width: 100%
}

.author-portrait {
    width: 2rem;
    height: 2rem
}

.author-portrait img {
    width: 100%;
    border-radius: 50%
}

.author-info {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: .5rem
}

.author-name {
    font-size: .7rem;
    color: #2d3037
}

.author-zl {
    font-size: .6rem;
    color: #d2d5da
}

.author-zl span {
    display: inline-block;
    color: #abafba;
    padding: 0 .25rem
}

.author-zl span:first-child {
    padding-left: 0
}

.article {
    padding: .8rem .75rem;
    background-color: #fff;
    border-bottom: 1px solid #dde0eb
}

.article-title {
    font-size: 1.1rem;
    color: #2d3037;
    padding-bottom: .7rem
}

.article-text {
    color: #6a7081!important;
    font-size: .75rem;
    line-height: 1.6
}

.article-text p {
    color: #6a7081!important
}

.article-text img {
    margin: auto;
    margin-top: .4rem;
    margin-bottom: .4rem;
    max-width: 100%
}

.article-text a {
    color: #87be65
}

.like {
    padding-top: .6rem
}

.like .like-pic {
    width: 2.05rem;
    height: 2.05rem;
    margin: auto
}

.like .like-pic img {
    width: 100%
}

.like-num {
    text-align: center;
    line-height: .7rem;
    padding-top: .3rem;
    font-size: .6rem;
    color: #abafba
}

.comment {
    margin-top: .5rem;
    background-color: #fff
}

.comment li {
    padding: .5rem 0 .4rem .75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.comment li .left {
    padding-right: .5rem
}

.comment li .left img {
    width: 1.5rem;
    border-radius: 50%
}

.comment li .right {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-bottom: 1px solid #f9f9fb;
    padding-right: .75rem
}

.comment li:last-child .right {
    border-bottom: 0
}

.comment-name {
    color: #2d3037;
    font-size: .7rem;
    line-height: 1.1rem
}

.comment-author {
    display: inline-block;
    background-color: #dde1eb;
    border-radius: .1rem;
    color: #fff;
    font-size: .6rem;
    padding: 0 .2rem;
    height: .75rem;
    line-height: .8rem;
    margin-left: .25rem
}

.comment-floor {
    float: right;
    font-size: .6rem;
    color: #abafba
}

.comment-text {
    color: #2d3037;
    font-size: .7rem;
    line-height: 1.1rem;
    padding: .1rem 0
}

.comment-text br {
    display: none
}

.comment-text img {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: .15rem;
    margin-top: .15rem
}

.comment-text a {
    color: #87be65
}

.comment-reply-box {
    padding-right: .3rem
}

.comment-reply {
    background-color: #f2f4f7;
    border-left: 2px solid #e1e4ea;
    padding: .4rem .5rem;
    font-size: .7rem;
    line-height: 1.1rem;
    color: #abafba
}

.comment-reply dd {
    padding: .1rem 0
}

.comment-bottom {
    color: #abafba;
    font-size: .6rem;
    line-height: 1.1rem;
    padding: .5rem 0
}

.comment-device {
    padding-left: .2rem
}

.btn-reply {
    height: 1.1rem;
    padding: 0 .5rem;
    border: 1px solid #abafba;
    font-size: .6rem;
    border-radius: .1rem;
    color: #abafba;
    float: right;
    line-height: 1.05rem
}

.btn-reply:active {
    color: #87be65;
    border-color: #87be65
}

.bottom-loading {
    text-align: center;
    line-height: 1rem;
    padding: .5rem 0 .4rem 0;
    font-size: .6rem;
    color: #abafba
}

.loading {
    display: inline-block;
    width: 1rem;
    line-height: 0;
    vertical-align: middle;
    height: 1rem;
    margin-right: .2rem;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: preloader-spin 1s steps(12,end) infinite;
    animation: preloader-spin 1s steps(12,end) infinite
}

.loading:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat
}

@-webkit-keyframes preloader-spin {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

.flie-list li {
    padding: .2rem 0 0 0;
    font-size: .6rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.flie-list li .file-img {
    width: .7rem;
    line-height: 0;
    margin-right: .3rem
}

.flie-list li .file-img img {
    width: 100%
}

.flie-list li .file-name {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1rem;
    overflow: hidden;
    line-height: 1rem;
    color: #a0a0a0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}

.flie-list li a {
    color: #87be65;
    width: 3.1rem;
    text-align: right;
    line-height: 1rem
}