<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mob.bbssdk.theme1">

    <application>
        <activity
            android:name=".page.AnotherActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar">

        </activity>
    </application>
</manifest>
