<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>详情页</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" type="text/css" href="../assets/css/style.css">

	</head>
	<body>
    	<div id="details" v-if="article!=null" v-cloak>
    		<!--作者 start-->
    		<div class="author">
    			<div class="author-left">
    				<div class="author-portrait"><img @click="openAuthor(article.authorId)" :src="article.avatar"/></div>
    				<div class="author-info">
    					<div class="author-name">{{ article.author }}</div>
    					<div class="author-zl"><span>{{ article.forumName }}</span>|<span>{{ timeSet(article.createdOn) }}</span></div>
    				</div>
    			</div>
    			<div class="author-right" @click="follow(article.authorId,article.follow)">
    				<img v-if="article.follow==false" src="../assets/images/follow-no.png"/>
    				<img v-if="article.follow==true" src="../assets/images/follow-yes.png"/>
    			</div>
    		</div>
    		<!--作者 end-->
    		
    		<!--文章 start-->
    		<div class="article">
    			<div class="article-title">{{ article.subject }}</div>
    			<div class="article-text" v-html="article.message"></div>
    			<ul class="flie-list" v-if="article.attachments!=null">
    				<li v-for="atta in article.attachments">
    					<!--<div class="file-img"><img src="../assets/images/fileicon-default.png"/></div>-->
    					<div class="file-name">{{ atta.fileName }}</div>
    					<a href="javascript:;" @click="openAttachment(atta)">{{ atta.isImage==1 ? "打开附件" : "下载附件" }}</a>
    				</li>
    			</ul>
    			<div class="like">
    				<div class="like-pic" @click="like(article.fid,article.tid)">
    					<img v-if="articleLike==false" src="../assets/images/like-no.png"/>
    					<img v-if="articleLike==true" src="../assets/images/like-yes.png"/>
    				</div>
    			</div>
    			<div class="like-num">喜欢 {{ article.recommend_add }}</div>
    		</div>
    		<!--文章 end-->
    		
    		<!--评论 start-->
    		<ul class="comment" v-if="commentList.length>0" id="comm">
    			<li v-for="(list,index) in commentList">
    				<div class="left"><img @click="openAuthor(list.authorId)" :src="list.avatar"/></div>
    				<div class="right">
    					<div class="comment-name">{{ list.author }}<span v-if="list.authorId==article.authorId" class="comment-author">楼主</span><span class="comment-floor">{{ list.position }}楼</span></div>
    					<div class="comment-text" v-html="list.message"></div>
    					<div class="comment-reply-box" v-if="list.prePost && list.prePost!=null">
	    					<dl class="comment-reply">
	    						<dd>引用：{{ list.prePost.author }}于{{ timeSet(list.prePost.createdOn) }}发表的：{{ list.prePost.message }}</dd>
	    					</dl>
    					</div>
    					<div class="comment-bottom">{{ timeSet(list.createdOn) }}<span class="comment-device">来自{{ list.deviceName }}</span><button @click="reply(list)" class="btn-reply">回复</button></div>
    				</div>
    			</li>
    		</ul>
    		<!--评论 end-->
    		<div class="bottom-loading"><div class="loading" v-if="loading"></div><span v-if="loading">加载中</span><span v-if="!loading && !noMore">更多</span><span v-if="noMore"><template v-if="commentList.length<1">暂无评论</template><template v-if="commentList.length>0">暂无更多</template></span></div>
    		
    	</div>
		<script src="../assets/js/base.js"></script>
        <script src="../assets/js/NativeExt.js"></script>
		<script src="../assets/js/BBSSDK.js"></script>
		<script src="../assets/js/details.js"></script>
	</body>
</html>